<div id="disqus_thread"></div>
<script>
   /**
    * Recommend configuration variables: Edit and uncomment the section below
    * to insert dynamic values from your platform or CMS.
    *
    * Learn why defining these variables is important:
    * https://disqus.com/admin/universalcode/#configuration-variables
    */

    var disqus_config = function() {
        this.page.url = '{{ site.url }}'; //PAGE_URL Replace PAGE_URL with your pages' canonical URL variable
        this.page.identifier = 'o2e'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };


    (function (){
        var d = document;
        var s = d.createElement('script');

        s.src = '//o2e.disqus.com/embed.js'; // IMPORTANT: Replace example with your forum shortname!
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>