
header {
    height: 600px;
    margin-top: 50px;
    overflow: auto;

    background: url("../img/BainbridgeFerry_600.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;

    .header-content {
        background-color: rgba(255, 255, 255, 0.3);
        border: 4px solid #fff;
        border-radius: 20px;
        text-align: center;
        margin: 150px 0 0 0;
        padding: 25px 10px;
        color: #000;
        h1 {
            font-size: 48px;
            font-weight: bold;
            margin: 0 0 15px 0;
        }
        h3 {
            color: #313131;
            font-style: italic;
        }
    }
}

.main-content {
    min-height: 600px;

    h1 {
        color: #555;
    }

    p {
        line-height: 1.6em;
        font-size: 16px;
        margin: 0 0 15px 0;
    }
}

.posts {
    margin-top: 30px;

    .blog-post {
        background-color: #eee;
        padding: 5px 10px 20px;
        margin: 10px 0 10px 0;

        .post-excerpt {
            font-size: 16px;
        }
        .post-data {
            margin-left: 35px;
            font-size: 18px;
        }
        .post-date {
            color: #000;
            font-style: italic;
        }
    }

    a {
        text-decoration: none;
        color: #222;

        &:hover {
            color: #777;
        }
    }
}



.about-author {
    margin: 50px 0 0 0;

    h3 {
        border-bottom: 2px solid #555;
    }
}

.sidebar {
    h3 {
        border-bottom: 2px solid #555;
    }
    h4 {
        margin: 0 0 20px 10px;
    }

    h4 a {
        text-decoration: none;
        color: #222;

        &:hover {
            color: #777;
        }
    }
    h4 .post-date {
        margin-left: 15px;
        font-size: 80%;
    }
}

.blog {
    color: #222;
    margin: 25px 0;

    p {
        line-height: 1.6em;
        font-size: 16px;
        margin: 0 0 15px 0;
    }

    .highlight {
        margin: 20px 0;
        padding: 15px;
        font-size: 15px;
    }


}

.blog-title {
    font-size: 42px;
    color: #555;
    margin-bottom: 20px;
}

.blog-meta {
    font-size: 18px;
    color: #828282;
}
