@mixin para-text {
    line-height: 1.7em;
    font-size: 16px;
    margin: 0 0 15px 0;
}

header {
    height: 950px;
    margin-top: 50px;
    overflow: auto;
    padding: 0;
    width: 100%;

    background: url("../img/BainbridgeFerry_600.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .header-content {
        background-color: rgba(255, 255, 255, 0.3);
        border: 4px solid $site-color-1;
        border-radius: 20px;
        text-align: center;
        margin: 200px 0 0 0;
        padding: 25px 10px;
        color: #000;

        h1 {
            font-size: 64px;
            font-weight: bold;
            margin: 0 0 15px 0;
        }

        h3 {
            color: #313131;
            font-style: italic;
        }
    }
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 0 40px 0 0;

}

.down-button i {
    color: black;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    header {
        .header-content {
            margin: 100px 0 0 0;
            h1 {
                font-size: 52px;
            }
        }
    }
}

@media (max-width: 650px) {
    header {
        .header-content {
            margin: 50px 0 0 0;
            h1 {
                font-size: 48px;
            }
        }
    }

    .down-button {
        text-align: center;
        bottom: 20px;
        padding: 0;
    }
}

@media (max-width: 375px) {
    header {
        .header-content {
            margin: 50px 0 0 0;
            h1 {
                font-size: 36px;
            }
        }
    }
}

.banner-slim {
    margin-top: 50px;
    width: 100%;
    height: 130px;
    background-image: url('../img/blog-header.jpg');
    background-size: cover;
    overflow: auto;

    h1 {
        background-color: rgba(254, 254, 254, 0.5);
        padding: 20px;
        display: inline-block;
        border-radius: 10px;
        color: black;
    }
}

.section-wrap {
    background: linear-gradient($site-color-1, #fff);
    padding: 30px 0;
}

.white-background {
    background-color: white
}

.main-content {
    min-height: 600px;
    padding: 10px 50px;

    h1 {
        color: #555;
    }

    p {
        @include para-text;
    }
}

.intro-header {
    height: 100px;
    margin: 25px 0 15px 0;
    background-color: #f1f1f1;
    padding: 15px 0 15px 10px;
    border-radius: 20px;
    text-align: center;
}

.about {
    min-height: 200px;
    margin-bottom: 20px;
    h1 {
        color: #555;
    }

    p {
        @include para-text;
    }

    img {
        margin: 25px auto;
    }
    .caption {
        color: #999;
        font-style: italic;
    }

}

.middle-img {
    width: 100%;
    height: 600px;
    background-image: url('../img/puget-sound.jpg');
    background-size: cover;
    background-attachment: fixed
}

.posts {
    margin-top: 30px;

    .blog-post {
        background-color: #f3f3f3;
        padding: 20px;
        margin: 10px 0 10px 0;
        border-radius: 10px;

        .post-data {
            margin-left: 35px;
            font-size: 18px;
        }
        .post-date {
            color: #000;
            font-style: italic;
        }
        a {
            text-decoration: none;
            color: #222;

            &:hover {
                color: #777;
            }
        }
        .post-excerpt {
            font-size: 16px;
            p {
                @include para-text;
                margin: 0;
            }
            .read-more a {
                color: #00688b;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.about-author {
    margin: 50px 0 0 0;

    h3 {
        border-bottom: 2px solid #555;
    }
}

.sidebar {
    padding: 10px 20px;

    h3 {
        border-bottom: 2px solid #555;
    }

    h4 {
        margin: 0 0 20px 10px;
    }

    h4 a {
        text-decoration: none;
        color: #222;

        &:hover {
            color: #777;
        }
    }

    .blog-post {
        margin-top: 25px;
    }

    h4 .post-date {
        margin-left: 15px;
        font-size: 80%;
    }
}

.blog {
    min-height: 600px;
    color: #222;
    margin: 25px 0;

    p {
        @include para-text;
    }

    .highlight {
        margin: 20px 0;
        padding: 15px;
        font-size: 15px;
    }
}

.blog-title {
    font-size: 42px;
    color: #555;
    margin-bottom: 20px;
}

.blog-meta {
    font-size: 18px;
    color: #828282;
}

.blog-comments {
    margin-bottom: 20px;
}
