footer {
    background-color: #444;
    min-height: 200px;
    overflow: auto;

    .footer-row {
        padding-top: 15px;

        h4 {
            margin-bottom: 10px;
            color: darken(#F5F1CE, 30);
        }
        p {
            color: #F5F1CE;
        }

        ul {
            list-style: none;
            line-height: 1.5em;
        }

        a {
            text-decoration: none;
            color: #F5F1CE;
        }
    }

    .copyright {
        clear: both;
        text-align: center;
        color: #888;
        font-size: 16px;
        font-style: italic;
        padding-top: 20px;
        margin-bottom: 15px;
    }
}
