.navbar {
    border-radius: 0px;
    background-color: #444;
    margin-bottom: 0;

    .navbar-brand {
        .brand {
            font-size: 32px;
            letter-spacing: 3px;
            font-weight: bold;
        }
    }

    .nav {
        font-size: 18px;

        li {
            margin-right: 25px;
        }
    }
}
