.navbar {
    border-radius: 0px;
    background-color: #444;
    margin-bottom: 0;

    .navbar-brand {
        font-size: 22px;
    }

    .nav {
        font-size: 18px;

        li {
            margin-right: 25px;
        }
    }
}
