<!doctype html>
<html>
    {% include head.html %}
    <body>
        <div class="navbar">
            <div class="logo">
                <span>O2E</span>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </nav>
        </div>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
        <script src="/assets/js/jquery-2.1.4.min.js"></script>
        <script src="/assets/js/site.js"></script>
    </body>
</html>
